{% extends "base.html" %}
{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags static %}

{% block content %}
<main class="flex-grow pt-16 p-4 bg-white dark:bg-gray-900">
    <article>
        <div class="container-cus">
            <h1>{{self.news_title}}</h1>
            <div class="flex items-center text-gray-500 dark:text-gray-400 text-xs md:text-xl">
                <div class="flex items-center">
                    {% if self.news_categories == "option1" %}
                    <span class="mr-5 flex items-center text-green-600 dark:text-green-400"><i
                            class="fas fa-seedling mr-1"></i>{{ self.get_news_categories_display }}</span>
                    {% elif self.news_categories == "option2" %}
                    <span class="mr-5 flex items-center text-yellow-600 dark:text-yellow-400"><i
                            class="fas fa-star mr-1"></i>{{ self.get_news_categories_display }}</span>
                    {% elif self.news_categories == "option3" %}
                    <span class="mr-5 flex items-center text-red-600 dark:text-red-400"><i
                            class="fas fa-fire mr-1"></i>{{ self.get_news_categories_display }}</span>
                    {% elif self.news_categories == "option4" %}
                    <span class="mr-5 flex items-center text-purple-600 dark:text-purple-400"><i
                            class="fas fa-brain mr-1"></i>{{ self.get_news_categories_display }}</span>
                    {% else %}
                    <span class="mr-5 flex items-center text-purple-600 dark:text-purple-400"><i
                            class="fas fa-brain mr-1"></i>{{ self.get_news_categories_display }}</span>
                    {%endif %}
                    <span class="flex items-center"><i class="fas fa-calendar-check mr-1"></i>{{self.news_date}}</span>
                </div>
                <!-- In your article template (article_page.html) -->
                <div class="social-sharing mx-auto">
                    <span>Share:</span>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url }}" target="_blank"
                        rel="noopener noreferrer">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url={{ page.full_url }}&text={{ page.title }}"
                        target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.full_url }}&title={{ page.title }}"
                        target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <!-- Add more platforms as needed -->
                </div>

                <div>
                    <a href="/" class="flex items-center mr-5 underline">author: {{self.news_author.name}}</a>
                </div>
            </div>
            <div class="dark:text-gray-300 mt-4">
                {{self.news_subtitle|richtext}}
            </div>
            {% image self.news_image fill-900x400 as img %}
            {% if img %}
            <img src="{{img.url}}" alt="{{img.alt}}" class="w-auto h-auto object-cover flex-shrink-0 mt-4">
            {% endif %}
        </div>

        {% for block in page.content %}
        {% if block.block_type == 'embeded' %}
        <div class="container-cus">
            {% include_block block %}
        </div>
        {% elif block.block_type == 'cuscodeblock' %}
        <div class="container-cus">
            {% include_block block with block_id=block.id %}
        </div>
        {% elif block.block_type == 'table' %}
        <div class="container-cus">
            {% include "blocks/table_block.html" %}
        </div>
        {% else %}
        <div class="container-cus">
            {% include_block block %}
        </div>
        {% endif %}
        {% endfor %}
    </article>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const shareBtn = document.getElementById('native-share');

        if (shareBtn) {
            shareBtn.addEventListener('click', async () => {
                try {
                    await navigator.share({
                        title: '{{ page.title }}',
                        text: 'Check out this article: {{ page.title }}',
                        url: '{{ page.full_url }}',
                    });
                } catch (err) {
                    console.log('Error sharing:', err);
                }
            });

            // Only show the native share button if the API is supported
            if (navigator.share) {
                shareBtn.style.display = 'inline-block';
            }
        }
    });
</script>
{% endblock %}