{% extends "base.html" %}
{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags static %}

{% block content %}
<main class="flex-grow pt-16 p-4 bg-white dark:bg-gray-900">
    <article>
        <div class="container-cus">
            <h1>{{self.news_title}}</h1>
            <div class="flex items-center text-gray-500 dark:text-gray-400 text-xs md:text-xl">
                <div class="flex items-center">
                    {% for option, cat, txtcolor, icon in cat_datas %}
                    {% if self.news_categories == option %}
                    <span class="mr-5 flex items-center {{txtcolor}}"><i class="fas {{icon}} mr-1"></i>
                        {{ cat }}</span>
                    {%endif %}
                    {% endfor %}
                    <span class="flex items-center mr-5"><i
                            class="fas fa-calendar-check mr-1"></i>{{self.news_date}}</span>
                    {% if self.news_author %}
                    <div class="author">
                        <a href="{{ self.news_author.get_absolute_url }}" class="flex items-center mr-5"><span
                                class="text-blue-800">Author:</span>
                            <span class=" underline ml-1">{{self.news_author.name}}</span></a>
                    </div>
                    {% endif %}
                    {% include "common/share_social.html" with element_id="1" %}
                </div>
            </div>
            <div class="dark:text-gray-300 mt-4">
                {{self.news_subtitle|richtext}}
            </div>
            {% image self.news_image fill-900x400 as img %}
            {% if img %}
            <img src="{{img.url}}" alt="{{img.alt}}" class="w-auto h-auto object-cover flex-shrink-0 mt-4">
            {% endif %}
        </div>

        {% for block in page.content %}
        {% if block.block_type == 'embeded' %}
        <div class="container-cus">
            {% include_block block %}
        </div>
        {% elif block.block_type == 'cuscodeblock' %}
        <div class="container-cus">
            {% include_block block with block_id=block.id %}
        </div>
        {% elif block.block_type == 'table' %}
        <div class="container-cus">
            {% include "blocks/table_block.html" %}
        </div>
        {% else %}
        <div class="container-cus">
            {% include_block block %}
        </div>
        {% endif %}
        {% endfor %}
        {% include "common/share_social.html" with element_id="2" %}
    </article>

</main>
<script>
    // document.addEventListener('DOMContentLoaded', function () {
    //     const shareBtn = document.getElementById('native-share');

    //     if (shareBtn) {
    //         shareBtn.addEventListener('click', async () => {
    //             try {
    //                 await navigator.share({
    //                     title: '{{ page.title }}',
    //                     text: 'Check out this article: {{ page.title }}',
    //                     url: '{{ page.full_url }}',
    //                 });
    //             } catch (err) {
    //                 console.log('Error sharing:', err);
    //             }
    //         });

    //         // Only show the native share button if the API is supported
    //         if (navigator.share) {
    //             shareBtn.style.display = 'inline-block';
    //         }
    //     }
    // });
</script>
{% endblock %}