<div
    class="tw:flex tw:items-center tw:justify-between tw:border-t tw:border-gray-200 tw:bg-white tw:px-4 tw:py-3 tw:sm:tw:px-6">
    <div class="tw:flex tw:flex-1 tw:justify-between tw:sm:tw:hidden">
        <a href="#"
            class="tw:relative tw:inline-flex tw:items-center tw:rounded-md tw:border tw:border-gray-300 tw:bg-white tw:px-4 tw:py-2 tw:text-sm tw:font-medium tw:text-gray-700 tw:hover:tw:bg-gray-50">Previous</a>
        <a href="#"
            class="tw:relative tw:ml-3 tw:inline-flex tw:items-center tw:rounded-md tw:border tw:border-gray-300 tw:bg-white tw:px-4 tw:py-2 tw:text-sm tw:font-medium tw:text-gray-700 tw:hover:tw:bg-gray-50">Next</a>
    </div>
    <div class="tw:hidden tw:sm:tw:flex tw:sm:tw:flex-1 tw:sm:tw:items-center tw:sm:tw:justify-between">
        <div>
            <p class="tw:text-sm tw:text-gray-700">
                Showing
                <span class="tw:font-medium">1</span>
                to
                <span class="tw:font-medium">10</span>
                of
                <span class="tw:font-medium">97</span>
                results
            </p>
        </div>
        <div>
            <nav class="tw:isolate tw:inline-flex -tw:space-x-px tw:rounded-md tw:shadow-xs" aria-label="Pagination">
                <a href="#"
                    class="tw:relative tw:inline-flex tw:items-center tw:rounded-l-md tw:px-2 tw:py-2 tw:text-gray-400 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:hover:tw:bg-gray-50 tw:focus:tw:z-20 tw:focus:tw:outline-offset-0">
                    <span class="tw:sr-only">Previous</span>
                    <svg class="tw:size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd"
                            d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                <a href="#" aria-current="page"
                    class="tw:relative tw:z-10 tw:inline-flex tw:items-center tw:bg-indigo-600 tw:px-4 tw:py-2 tw:text-sm tw:font-semibold tw:text-white tw:focus:tw:z-20 tw:focus-visible:tw:outline-2 tw:focus-visible:tw:outline-offset-2 tw:focus-visible:tw:outline-indigo-600">1</a>
                <a href="#"
                    class="tw:relative tw:inline-flex tw:items-center tw:px-4 tw:py-2 tw:text-sm tw:font-semibold tw:text-gray-900 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:hover:tw:bg-gray-50 tw:focus:tw:z-20 tw:focus:tw:outline-offset-0">2</a>
                <a href="#"
                    class="tw:relative tw:hidden tw:items-center tw:px-4 tw:py-2 tw:text-sm tw:font-semibold tw:text-gray-900 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:hover:tw:bg-gray-50 tw:focus:tw:z-20 tw:focus:tw:outline-offset-0 tw:md:tw:inline-flex">3</a>
                <span
                    class="tw:relative tw:inline-flex tw:items-center tw:px-4 tw:py-2 tw:text-sm tw:font-semibold tw:text-gray-700 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:focus:tw:outline-offset-0">...</span>
                <a href="#"
                    class="tw:relative tw:hidden tw:items-center tw:px-4 tw:py-2 tw:text-sm tw:font-semibold tw:text-gray-900 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:hover:tw:bg-gray-50 tw:focus:tw:z-20 tw:focus:tw:outline-offset-0 tw:md:tw:inline-flex">8</a>
                <a href="#"
                    class="tw:relative tw:inline-flex tw:items-center tw:px-4 tw:py-2 tw:text-sm tw:font-semibold tw:text-gray-900 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:hover:tw:bg-gray-50 tw:focus:tw:z-20 tw:focus:tw:outline-offset-0">9</a>
                <a href="#"
                    class="tw:relative tw:inline-flex tw:items-center tw:px-4 tw:py-2 tw:text-sm tw:font-semibold tw:text-gray-900 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:hover:tw:bg-gray-50 tw:focus:tw:z-20 tw:focus:tw:outline-offset-0">10</a>
                <a href="#"
                    class="tw:relative tw:inline-flex tw:items-center tw:rounded-r-md tw:px-2 tw:py-2 tw:text-gray-400 tw:ring-1 tw:ring-gray-300 tw:ring-inset tw:hover:tw:bg-gray-50 tw:focus:tw:z-20 tw:focus:tw:outline-offset-0">
                    <span class="tw:sr-only">Next</span>
                    <svg class="tw:size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd"
                            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</div>